.stApp{
    background : linear-gradient(135deg,#3c82c8 0%,#ea2f42 50%,#1e84e9 100%);
    min-height: 100vh;
    font-family: 'Segoe UI',sans-serif;
}
.card{
    background-color: #80195f;
    padding : 25px;
    border-radius: 16px;
    box-shadow: 0 80px 20px rgba(0,0,0,0.8);
    margin-bottom: 25px;
}
h1,h2,h3{
    color: #2a0f0f;

}
p{
    color:#1e84e9
}

/* Metric box */

div[data-testid="metric-container"]{
    background-color: hwb(245 1% 36%);
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.prediction-box{
    background: linear-gradient(
        135deg,
        #05b041,
        #73f7a1,
    );
    padding : 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #eb1a0f;
    margin-top:15px;
}